@model ProyectoVersion1.Models.Encargo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Encargo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trabajador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trabajador.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bien.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoActual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoActual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFin)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
