@model IPagedList<ProyectoVersion1.Models.Encargo>

@using X.PagedList
@using X.PagedList.Web.Common
@using X.PagedList.Mvc.Core


@{
    ViewData["Title"] = "Encargos";
}
<h1 class="text-center mb-5 display-4">Encargos</h1>

<div class="row mb-4">
    <div class="col">
        <a asp-action="Create" class="btn btn-success mb-3"><i class="fas fa-plus-circle"></i> Añadir Encargo</a>
    </div>
    <div class="col-md-6">
        <form asp-action="Index" asp-controller="Encargos" method="get" class="d-flex justify-content-end">
            <select class="form-select me-2" name="buscaTrabajador" asp-items="ViewBag.Trabajadores">
                <option value="">---Busca Trabajador---</option>
            </select>
            <button type="submit" class="btn btn-primary me-2">
                <i class="fas fa-search"></i> Ver
            </button>

            <a asp-action="Index" asp-controller="Encargos" class="btn btn-secondary">
                <i class="fas fa-undo"></i> Limpiar
            </a>
        </form>
    </div>
</div>

<div class="text-lg-end mb-3">
    @Model.Count() Registros
</div>

<table class="table table-hover">
    <thead class="bg-success text-white text-center">
        <tr class="text-center">
            <th>Trabajador</th>
            <th>Código del Bien</th>
            <th>Fecha de Inicio</th>
            <th>Fecha de Fin</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody class="text-center">
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Trabajador.Nombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.Bien.CodigoNombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.FechaInicio)</td>
                    <td>@Html.DisplayFor(modelItem => item.FechaFin)</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning me-1">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-secondary me-1">
                                <i class="fa-solid fa-circle-info"></i>
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </div>

                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">No se encontraron encargos para este trabajador.</td>
            </tr>
        }
    </tbody>
</table>
<div class="d-flex justify-content-center mt-4">
    @Html.PagedListPager(Model, page => Url.Action("Index", new
        {
            Pagina = page,
            buscaTrabajador = ViewBag.BuscaTrabajador
        }), new PagedListRenderOptions
{
    LiElementClasses = new[] { "page-item" },
    PageClasses = new[] { "page-link" }
})
</div>
