@model IPagedList<ProyectoVersion1.Models.Bien>

@using X.PagedList
@using X.PagedList.Web.Common
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<div class="row">
    <div class="col">
        <p>
            <a asp-action="Create">Añadir Bien</a>
        </p>
    </div>
    <div class="col">
        <form asp-action="Index" asp-controller="Bienes" method="get">
            <div class="input-group">
                <select class="form-control" name="buscaEspacio" value="@ViewBag.BuscaEspacio" asp-items="ViewBag.Espacios">
                    <option value="">---Busca Espacio---</option>
                </select>
                <button type="submit" class="btn btn-outline-primary">Ver</button>
                <a asp-action="Index" asp-controller="Bienes" class="btn btn-outline-secondary">Limpiar</a>
            </div>
        </form>
    </div>
</div>




<table class="table">
    <thead>
        <tr>
            <th>
                Codigo
            </th>
            <th>
                Nombre
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Precio
            </th>
            <th>
                Estado
            </th>
            <th>
                FechaIngreso
            </th>
            <th>
                Espacio
            </th>
            <th>
                Categoria
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Espacio.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new {
    Pagina = page,
    }),

new PagedListRenderOptions
{
    LiElementClasses = new String[] { "page-item" },
    PageClasses = new String[] { "link-item" },
})