@model IPagedList<ProyectoVersion1.Models.Bien>

@using X.PagedList
@using X.PagedList.Web.Common
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "Bienes";
}
<h1 class="text-center mb-5 display-4">Bienes</h1>

<div class="row mb-5">
    <div class="col-md-6">
        <a asp-action="Create" class="btn btn-success">
            <i class="fas fa-plus-circle"></i> Añadir Bien
        </a>
    </div>
    <div class="col-md-6">
        <form asp-action="Index" asp-controller="Bienes" method="get" class="d-flex justify-content-end">
            <select class="form-select me-2" name="buscaEspacio" value="@ViewBag.BuscaEspacio" asp-items="ViewBag.Espacios">
                <option value="">--- Busca Espacio ---</option>
            </select>
            <select class="form-select me-2" name="buscaCategoria" value="@ViewBag.BuscaCategoria" asp-items="ViewBag.Categoria">
                <option value="">--- Busca Categoria ---</option>
            </select>
            <button type="submit" class="btn btn-primary me-2">
                <i class="fas fa-search"></i> Ver
            </button>
            <a asp-action="Index" asp-controller="Bienes" class="btn btn-secondary">
                <i class="fas fa-undo"></i> Limpiar
            </a>
        </form>
    </div>
</div>

<div class="text-lg-end">
    @Model.Count() Registros
</div>

<table class="table table-hover mt-3">
    <thead class="bg-primary text-white text-center">
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Nombre</th>
            @*  <th scope="col">Descripción</th> *@
            @* <th scope="col">Precio</th> *@
            <th scope="col">Estado</th>
            <th scope="col">Fecha Ingreso</th>
            <th scope="col">Espacio</th>
            <th scope="col">Categoría</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody class="text-center">
        @if (Model.Count != 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Codigo)</td>
                    <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                    @*  <td>@Html.DisplayFor(modelItem => item.Descripcion)</td> *@
                    @* <td>@Html.DisplayFor(modelItem => item.Precio)</td> *@
                    <td>@Html.DisplayFor(modelItem => item.EstadoInicial)</td>
                    <td>@Html.DisplayFor(modelItem => item.FechaIngreso)</td>
                    <td>@Html.DisplayFor(modelItem => item.Espacio.Nombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.Categoria.Nombre)</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm me-1">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm me-1">
                                <i class="fas fa-info-circle"></i>
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        }
        else
        {
        <td class="text-danger text-center" colspan="7">No existen bienes en el espacio y categoria asignado</td>
        }
    </tbody>
</table>

<div class="d-flex justify-content-center mt-4">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { Pagina = page, buscaEspacio = ViewBag.BuscaEspacio, buscaCategoria = ViewBag.BuscaCategoria }),
            new PagedListRenderOptions
    {
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" }
    })
</div>
