@model IPagedList<Encargo>
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@* Hola *@
<h1 class="text-center mt-5">Hola, @ViewBag.Trabajador.Nombre . Consulta tus bienes a Cargo</h1>

<div class="col-6">
    <form asp-controller="Home" asp-action="IndexTrabajador" method="get">
        <div class="input-group">
            <select name="estadoBien" value="@ViewBag.EstadoBien" asp-items="ViewBag.Estados" class="form-select">
                <option value="">---Buscar Estado---</option>
            </select>
            <button type="submit" class="btn btn-outline-primary">Ver</button>
            <a class="btn btn-outline-secondary" asp-action="IndexTrabajador" asp-controller="Home">Listar</a>
        </div>
    </form>
</div>

<p class="text-end">
    @Model.Count() registros
</p>

<table class="table table-bordered table-hover table-striped mt-5">
    <thead class="bg-primary text-white">
        <tr class="text-center">
            <th>
                Trabajador
            </th>
            <th>
                Codgio del Bien
            </th>
            <th>
                Bien
            </th>
            <th>
                Estado del Bien
            </th>
            <th>
                Fecha de Inicio
            </th>
            <th>
                Fecha Fin
            </th>
        </tr>
    </thead>
    <tbody>
        @if(Model.Count() != 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Trabajador.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bien.Codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bien.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstadoActual)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaFin)
                    </td> 
                </tr>
            }
        }
        else
            {
                <td class="text-danger text-center" colspan=" ">No Hay bienes a cargo en estado @ViewBag.EstadoBien</td>
            }
    </tbody>
</table>
@Html.PagedListPager(Model, page => Url.Action("IndexTrabajador", new
    {
        Pagina = page,
        estadoBien = ViewBag.EstadoBien
    }),

            new PagedListRenderOptions
        {
            LiElementClasses = new String[] { "page-item" },
            PageClasses = new String[] { "link-item" },
        })