@model TrabajadorEncargoViewModel
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

<!-- Cargar Bootstrap y FontAwesome desde tu ruta local o desde un CDN para asegurar estilos en el PDF -->
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />

<a href="@Url.Action("DownloadViewPDF", "Home", new { estadoBien = Model.EstadoBien })" class="btn btn-danger text-end">
    <i class="fas fa-file-pdf"></i>
</a>

<h1 class="text-center mb-5 display-4">Bienvenido <strong> @Model.Trabajador.Nombre</strong>.<br />Consulta tus bienes a Cargo</h1>

<div class="col-md-6 mx-auto text-center">
    <form asp-controller="Home" asp-action="IndexTrabajador" method="get" class="d-flex justify-content-center">
        <div class="input-group">
            <select name="estadoBien" value="@ViewBag.EstadoBien" asp-items="ViewBag.Estados" class="form-select me-2">
                <option value="">---Buscar Estado---</option>
            </select>
            <button type="submit" class="btn btn-primary me-2">
                <i class="fas fa-search"></i> Ver
            </button>
            <a asp-action="IndexTrabajador" asp-controller="Home" class="btn btn-secondary">
                <i class="fas fa-undo"></i> Limpiar
            </a>
        </div>
    </form>
</div>

<p class="text-lg-end">
    @Model.EncargosPaginados.Count() registros
</p>

<table class="table table-hover mt-3">
    <thead class="bg-info text-dark text-center">
        <tr class="text-center">
            @* <th>Trabajador</th> *@
            <th>Código del Bien</th>
            <th>Bien</th>
            <th>Estado del Bien</th>
            <th>Fecha de Encargo</th>
        </tr>
    </thead>
    <tbody class="text-center">
        @if (Model.EncargosPaginados.Count() != 0)
        {
            foreach (var item in Model.EncargosPaginados)
            {
                <tr>
                    @* <td>@Html.DisplayFor(modelItem => item.Trabajador.Nombre)</td> *@
                    <td>@Html.DisplayFor(modelItem => item.Bien.Codigo)</td>
                    <td>@Html.DisplayFor(modelItem => item.Bien.Nombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.EstadoActual)</td>
                    <td>@Html.DisplayFor(modelItem => item.FechaInicio)</td>
                </tr>
            }
        }
        else
        {
        <td class="text-danger text-center" colspan="5">No hay bienes a cargo en estado @Model.EstadoBien</td>
        }
    </tbody>
</table>

<div class="d-flex justify-content-center mt-4">
    @Html.PagedListPager(Model.EncargosPaginados, page => Url.Action("IndexTrabajador", new
        {
            Pagina = page,
            estadoBien = Model.EstadoBien
        }),
            new PagedListRenderOptions
    {
        LiElementClasses = new String[] { "page-item" },
        PageClasses = new String[] { "link-item" }
    })
</div>