@model List<Encargo>
@* Hola *@
<h1 class="text-center mt-5">Hola, @ViewBag.Trabajador.Nombre . Consulta tus bienes a Cargo</h1>

<div class="col-6">
    <form asp-controller="Home" asp-action="IndexTrabajador" method="get">
        <div class="input-group">
            <select name="estadoBien" value="@ViewBag.EstadoBien" class="form-control" placeholder="Consulta por Estado" asp-items="@ViewBag.Estados">
                <option value="">---Buscar Estado---</option>
            </select>
            <button type="submit" class="btn btn-outline-primary">Ver</button>
            <a class="btn btn-outline-secondary" asp-action="IndexTrabajador" asp-controller="Home">Listar</a>
        </div>
    </form>
</div>

<div class="row">
    <div class="col"><p class="text-primary text-center">Bienes a cargo: @ViewBag.EstadoBien</p></div>
    <div class="col">
        <p class="text-end">
            @Model.Count() registros
        </p>
    </div>
</div>




<table class="table table-bordered table-hover table-striped mt-5">
    <thead class="bg-primary text-white">
        <tr class="text-center">
            <th>
                Trabajador
            </th>
            <th>
                Codgio del Bien
            </th>
            <th>
                Bien
            </th>
            <th>
                Estado del Bien
            </th>
            <th>
                Fecha de Inicio
            </th>
            <th>
                Fecha Fin
            </th>
        </tr>
    </thead>
    <tbody>
        @if(Model.Count() != 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Trabajador.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bien.Codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bien.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bien.Estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaFin)
                    </td>
                </tr>
            }
        }
        else
            {
                <td class="text-danger text-center" colspan="6">No Hay bienes a cargo en estado @ViewBag.EstadoBien</td>
            }

        }
    </tbody>
</table>
