@using X.PagedList
@using X.PagedList.Web.Common
@using X.PagedList.Mvc.Core
@model IPagedList<Trabajador>

    <h1>Trabajadores</h1>

<div class="col-6">
    <form asp-controller="Trabajadores" asp-action="Index" method="get">
        <div class="input-group">
            <select name="buscaTipo" value="@ViewBag.BuscaTipo" class="form-control" placeholder="Consulta por Cargo" asp-items="@ViewBag.Tipos">
                <option value="">---Buscar Estado---</option>
            </select>
            <button type="submit" class="btn btn-outline-primary">Ver</button>
            <a asp-controller="Trabajadores" asp-action="Index" class="btn btn-secondary">Listar</a>
        </div>
    </form>
</div>

@Model.Count() Registros

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
               Email
            </th>
           
            <th>
                Telefono
            </th>
            <th>
               Tipo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
           
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            
}
    </tbody>
</table>


@Html.PagedListPager(Model, page=>Url.Action("Index", new{Pagina = page}), 
new PagedListRenderOptions{
LiElementClasses=new String[]{"page-item"},
PageClasses = new String[]{"link-item"},
}
)