@using X.PagedList
@using X.PagedList.Web.Common
@using X.PagedList.Mvc.Core
@model IPagedList<Trabajador>

<h1 class="text-center mb-5 display-4">Trabajador</h1>

<div class="row mb-5">
    <div class="col-md-6">
        <a asp-action="Create" class="btn btn-success">
            <i class="fas fa-plus-circle"></i> Añadir Trabajador
        </a>
    </div>
    <div class="col-md-6">
        <form asp-controller="Trabajadores" asp-action="Index" method="get" class="d-flex justify-content-end">
            <select name="buscaTipo" class="form-control me-2" placeholder="Consulta por Cargo" asp-items="@ViewBag.Tipos">
                <option value="">---Buscar Tipo de Trabajador---</option>
            </select>
            <button type="submit" class="btn btn-primary me-2">
                <i class="fas fa-search"></i> Ver
            </button>
            <a asp-action="Index" asp-controller="Trabajadores" class="btn btn-secondary">
                <i class="fas fa-undo"></i> Limpiar
            </a>
        </form>
    </div>
</div>

<div class="text-lg-end mb-3">
    @Model.Count() Registros
</div>

<table class="table table-hover mt-3">
    <thead class="table-light text-center">
        <tr class="text-center">
            <th>
                Nombre
            </th>
            <th>
               Email
            </th>
           
            <th>
                Telefono
            </th>
            <th>
               Tipo
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody class="text-center">
@foreach (var item in Model) {
           
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo)
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm me-1">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm me-1">
                                <i class="fas fa-info-circle"></i>
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            
}
    </tbody>
</table>


<div class="d-flex justify-content-center mt-4">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { Pagina = page }),
            new PagedListRenderOptions
    {
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" }
    })
</div>
